# Monorepo（freeism）: パスごとのレビュー割当。必要に応じてチームやユーザーを追加してください。

/web-app/ @yuichisugio
/documentation/ @yuichisugio
/calc-contrib/ @yuichisugio
/depchecker/ @yuichisugio

/.github/ @yuichisugio
/docs/ @yuichisugio

*.md @yuichisugio
*.sh @yuichisugio
*.json @yuichisugio
*.csv @yuichisugio
*.txt @yuichisugio
