# DATABASE の設定
DATABASE_URL=
DIRECT_URL=

# Supabase の設定
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Auht.jsの設定
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Node Environment
NODE_ENV=
